@charset "ISO-8859-1";

p{
	font-family: fantasy;
}

#formulario{
	position: absolute;
	background-color: #00000087;
	border: 3px solid #ffffff;
	border-radius: 20px;
	color: white;
	top: 150px;
	left: 22%;
	width: 50%;
	height: 750px;
	padding: 30px;
}

#titulo{
	width: 30%;
	margin-left: 31.5%;
}

#titulo h1{
	position: relative;
	top: 10px;
	text-align: center;
}

#formulario h3{
	position: relative;
	margin-top: 10px;
	margin-left: 30%;
	margin-bottom: 30px;
	width: 350px;
	padding: 5px 15px;
	text-align: center;
	background-color: #103E55C2;
	border: 3px solid #ffffff;
	border-radius: 25px;
	color: white;
}

#formulario p{
	position: relative;
	text-align: center;
	font-size: 20px;
}

.imp_gen{
	position: relative;
	margin-left: 36%;
	text-align: center;
	width: 250px;
	padding: 5px 15px;
    box-sizing: border-box;
    border: initial;
    border-bottom: 3px solid #1d5f80cc;
    background-color: #00000000;
    color: white;

    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

.imp_gen:hover{
	position: relative;
	margin-left: 36%;
	width: 250px;
	padding: 5px 15px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 25px;
    background-color: #00000000;
    color: white;

    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

#btn_reg{
	position: relative;
	font-size: 20px;
	margin-top: 25px;
	margin-left: 36%;
	width: 250px;
	padding: 5px 15px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 25px;
    background-color: #00000000;
    color: white;

    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

#btn_reg:hover{
	position: relative;
	font-size: 23px;
	margin-top: 25px;
	margin-left: 36%;
	width: 250px;
	padding: 5px 15px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 25px;
    background-color: #103E55C2;
    color: white;

    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}




